<h3 class="h1-uppercase-formatted">TODO</h3>
<form name="form" ng-submit="submitNewToDo()" role="form">
    <div class="form-group">
        <label for="description">DESCRIPTION</label>
        <i class="fa fa-key"></i>
        <input type="text" name="description" id="description" class="form-control" ng-model="description" required />
    </div>
    <div class="form-group">
        <label for="dueDate">DUE DATE</label>
        <i class="fa fa-lock"></i>
        <div style="display:inline-block; min-height:290px;">
            <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="priority">PRIORITY</label>
        <select class="form-control" ng-model="priority"
                ng-options="priority as priority for priority in priorities" required>
            <option value="" disabled selected style="display: none;">Priority</option>
        </select>
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Submit</button>
    </div>
</form>