<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div class="container">
                    <!--The Loading Spinner; shown during HTTP requests-->
                    <span us-spinner="{radius:30, width:8, length: 16}"></span>
                    <form method="post">
                        <div class="row">
                            <div class="col-md-12 col-lg-8 col-lg-offset-2">
                                <div class="row" style="margin-top:-30px;">
                                    <div class="col-lg-4 col-lg-offset-4">
                                        <h1 class="h1-uppercase-formatted">SIGNUP</h1>
                                        <div class="form-group">
                                            <label for="">Full Name</label>
                                            <input type="text" class="form-control" placeholder="Full Name" ng-model="registration.fullName" maxlength="19" required>
                                            <span class="error" ng-show="myForm.input.$error.required">
                                                Name is Required!
                                            </span>
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="">Email</label>
                                            <input type="email" class="form-control" placeholder="Email" ng-model="registration.email" required>
                                            <span class="error" ng-show="myForm.input.$error.required">
                                                Email is Required!
                                            </span>
                                            <span class="error" ng-show="myForm.input.$error.email">
                                                Please enter a valid email
                                            </span>
                                            <span class="error" style="color: red;" ng-show="emailAlreadyTaken">
                                                Email is already taken
                                            </span>
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="">Password</label>
                                            <input type="password" class="form-control" minlength="6" placeholder="At least 6 characters long" ng-model="registration.password" required>
                                            <span class="error" ng-show="myForm.input.$error.required">
                                                Password is Required!
                                            </span>
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="">Confirm Password</label>
                                            <input type="password" class="form-control" minlength="6" placeholder="At least 6 characters long" ng-model="registration.confirmPassword" required>
                                            <span class="error" ng-show="myForm.input.$error.required">
                                                Confirmation Password is Required!
                                            </span>
                                            <span ng-show="passwordsDontMatch" style="color: red;">Passwords do not match</span>
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <span>I agree to the <a ui-sref="terms-and-conditions">terms and conditions</a></span>
                                        </div><!-- /.form-group -->
                                        <span ng-show="error !== undefined && error !== null" class="red-font" ng-bind="error"></span>
                                    </div><!-- /.col-* -->
                                </div><!-- /.row -->
                                <div class="center">
                                    <div class="form-group-btn">
                                        <button type="submit" class="btn btn-primary" ng-click="signUp()">Create Account</button>
                                    </div><!-- /.form-group-btn -->
                                </div><!-- /.center -->
                                <div class="form-group-bottom-link">
                                    <a ui-sref="login">I already have an account <i class="fa fa-long-arrow-right"></i></a>
                                </div><!-- /.form-group-bottom-link -->
                            </div><!-- /.col-* -->
                        </div><!-- /.row -->
                    </form>
                </div><!-- /.container -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
</div><!-- /.main-wrapper -->

<link href="../lib/angular-material/angular-material.min.css" rel="stylesheet">