<div ng-controller="todoListController">
    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-primary" ng-click="addNewToDo()">
                ADD NEW TODO
            </button>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-8">
            <div>
                <h4 class="h1-uppercase-formatted">ToDo Item</h4>
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4 class="h1-uppercase-formatted">Due Date</h4>
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4 class="h1-uppercase-formatted">Priority</h4>
            </div>
        </div>
    </div>
</div>